@import "tailwindcss";

/* Global Styles */
body {
  @apply bg-gray-100 text-gray-900 font-sans;
}

/* App.css Styles */
.logo {
  @apply w-16 h-16;
}

.card {
  @apply p-6 bg-white shadow-md rounded-lg;
}

/* Index.css Styles */
h1 {
  @apply text-4xl font-bold text-black;
}


/* Theme colours */

/* Light mode */
.lightMode {
  @apply bg-white text-gray-900;
}

.lightMode.color1{
  @apply bg-blue-500 text-white;
}
/* Dark mode */

.darkMode {
  @apply bg-gray-900 text-white;
}

.lava-lamp-background {
  background: linear-gradient(120deg, #04ebf3, #05e690, #32cd32);
  background-size: 400% 400%;
  animation: lavaLampAnimation 10s ease infinite;
}

@keyframes lavaLampAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
